body {
  color: $base-font-color;
  // font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h2 {
  color: $red;
  font-size: 3.4em;
  font-family: "freight-display-pro",sans-serif;
  margin: 0;
}

.h2-white {
  font-family: "freight-display-pro",sans-serif;
  font-size: 2em;
  color: $white;
  line-height: 1.4em;
}

h3 {
  font-family: "bebas-neue",sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
  color: $white;
}

h4 {
  color: $red;
  font-family: "freight-display-pro",sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  line-height: 1.2em;
  margin: 0;
}

p {
  margin: 0 0 $small-spacing;
  font-family: "freight-text-pro",serif;
  font-size: 1.1em;
}

.p-tip {
  font-style: italic;
  font-weight: 600;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: lighten($action-color, 25%);
  }
}





nav ul a {
  color: $white;
  // font-family: "freight-micro-pro",serif;
  font-family: "freight-display-pro",sans-serif;
  font-size: 0.75em;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}


@media only screen and (max-width: 780px) {
  nav ul a {
    color: $dark-gray;
    font-family: "freight-sans-pro",sans-serif;
    font-size: 0.7em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2.8em;
  }

  .h2-white{
    font-size: 1em;
    line-height: 1.2em;
  }

}
