.c-header-container {
  background-color: $teal;
  @include outer-container (100%);
  height: 60px;
}

.c-header-container__inside {
  @include outer-container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  order: 2;
}


.body-section {
  @include outer-container (100%);
}




@media only screen and (max-width: 780px) {
  .c-home-nav-row {
    flex-direction: column;
  }
}
