.body-section {
  background-color: $white;
}


.c-home-nav-row {
  @include outer-container (100%);
  display: flex;
  flex-direction: row;
}

          .home-nav-link {
            transition: opacity $base-duration $base-timing;
            opacity: 1;
          }

          .home-nav-link:hover {
            opacity: 0.8;
          }

.s-blog-section {
  background-color: $tan;
  // height: 204px;
  @include outer-container (100%);
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: row;

  h2 {
    padding-top: 1em;
    padding-bottom: 0em;
    line-height: 0;
  }

  .section-line-left {
    margin-top: 1.6em;
    width: 100%;
    background-color: $red;
    height: 1px;
    display: inline;
    float: left;
  }

  .section-line-right {
    margin-top: 1.6em;
    width: 100%;
    background-color: $red;
    height: 1px;
    display: inline;
    float: left;
  }

  .s-blog-section-content {
    padding-top: 0em;
    // padding-bottom: 3em;
    display: inline;
    margin: auto;
    width: 100%;
    h2 {
      line-height: 1em;
      padding-top: 0;
    }
  }

  .icn-blog-section-icons {
    width: 48px;
  }
}

.next-page-container {
  background-color: $tan;
  @include outer-container (100%);
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;

  a {
    color: $red;
    font-size: 1.4em;
  }

}

.next-page-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // @include span-columns(12);
}

.next-page-left {
  display: inline;
  padding-left: 1em;
}

.next-page-center {
  display: inline;
}

.next-page-right {
  display: inline;
  padding-right: 1em;
}



@media only screen and (max-width: 780px) {
  .section-line-left {
    margin-right: 2em;
  }

  .section-line-right {
    margin-left: 2em;
  }

  // section img{
  //   width: 100%;
  // }
}
