.text-block {
  @include outer-container;
  padding-top: 1em;
  padding-bottom: 2em;
}

.text-header {
  text-align: center;
  @include span-columns (6);
  @include shift (3);
  padding-top: 0em;
  padding-bottom: 1em;
}

.text-normal {
 @include span-columns (6);
 @include shift (3);
 text-align: left;
 // padding-bottom: 6em;
}

.top-margin {
  margin-top: 1em;
}


.text-normal-no-padding-bottom {
 @include span-columns (6);
 @include shift (3);
 padding-top: 5em;
 padding-bottom: 0em;
}


.separator-container {
  @include outer-container;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.separator-line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: $dark-gray;
  margin-left: 0 auto;
  margin-right: 0 auto;
  opacity: 0.1;
  }


@media only screen and (max-width: 780px) {
  .text-header {
    text-align: center;
    @include span-columns (12);
    @include shift (0);
    padding-left: 1em;
    padding-right: 1em;
  }

  .text-normal {
   @include span-columns (12);
   @include shift (0);
   padding-left: 1em;
   padding-right: 1em;
  }
}
